<ion-header>
  <ion-toolbar color="Indigoo">
    <ion-title><ion-icon name="arrow-round-back"></ion-icon>
      Scrum Working
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pane" style="padding: 8px;">
  <ion-card *ngFor="let row of inprogressposts">
    <div *ngIf="row.status == 'กำลังทำ'">
      <font size="4">{{row.name}}</font>
    </div>
  </ion-card>
</ion-content>

<style type="text/css">
  .pane{
    background:url('assets/imgs/backghome.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
</style>